@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[data-lastpass-icon-root] {
		display: none !important;
	}
}

@layer components {
	/*
		Only define scroll animation if properly supported
		Firefox (v136) supports scroll animations but _not_ animation-timeline
		So we have to check both to avoid the animation going on for the entire page
	*/
	@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
		.ScrollShrink {
			view-timeline-axis: block;
			animation: shrink linear both;
			animation-timeline: scroll();
			animation-range: 0 200px;
		}
	}

	@keyframes shrink {
		from {
			top: theme(space.8);
			max-width: theme(maxWidth.7xl);
			background-color: rgba(255, 255, 255, 0.9);
			font-size: 1rem;
		}
		to {
			top: 0;
			max-width: theme(maxWidth.2xl);
			background-color: rgba(255, 255, 255, 0.3);
			font-size: 0.875rem;
		}
	}

	.Overlap {
		display: grid;
		--overlap: 2rem;
		grid-template-rows: 1fr var(--overlap) auto;
	}

	.Overlap > * {
		grid-column: 1 / -1;
	}

	.Overlap > :first-child {
		grid-row: 1 / 3;
	}

	.Overlap > :last-child {
		grid-row: 2 / 4;
	}

	.Details {
		border-radius: theme(borderRadius[lg]);
		border-width: theme(borderWidth[DEFAULT]);
		border-color: theme(colors[misty]);
		padding: theme(space.6);
		&[open] {
			background-color: theme(colors[white]);
			box-shadow: theme(boxShadow[md]);
		}
		> summary {
			list-style: none;
			color: theme(colors[slate]);
			font-weight: theme(fontWeight[medium]);
			cursor: pointer;
			&::-webkit-details-marker {
				display: none;
			}
			@media screen(md) {
				font-size: theme(fontSize[lg]);
			}
		}
	}

	.Squares {
		--bg: #fff;
		--fg: theme(colors[misty]);
		background-image: repeating-linear-gradient(
				to bottom,
				transparent,
				transparent 10px,
				var(--bg) 10px,
				var(--bg) 50px
			),
			repeating-linear-gradient(
				to right,
				var(--fg),
				var(--fg) 10px,
				var(--bg) 10px,
				var(--bg) 50px
			);
		background-size: 95% 8rem;
		background-repeat: no-repeat;
		background-position: center 4rem;
	}
	.Squares.Dark {
		--bg: theme(colors[slate-dark]);
		--fg: theme(colors[misty] / 10%);
	}
}
